<!DOCTYPE html>
<html>
<head></head>
<body>
{% if error_message %}
			<p> {{error_message }} </p>
{% endif %}  
<form action="/auth/" method="POST"> {% csrf_token %}
    
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="" /><br>
    
    
        <label for="password">Password:</label><input type="password" name="password" id="password" value="" />
        
    <button type="submit" name="submit" value="submit-value">Sign in</button>
</form>
<body>
<p> Registration </p>
<form action="{% url 'login:sign_up' %}" method="POST"> {% csrf_token %}
    	UserName: 
    	<input type="text" name="uname" id="uname" value="" /><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="" /><br>
    
    
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="" /><br>
        
    <button type="submit" name="submit" value="submit-value">Sign up</button>
</form>
</body>
</html>