<html>
	<head>
		{% load staticfiles %}
		<meta charset="UTF-8" />
        <title>test smuta</title>
		<script src="{% static 'js/phaser.min.js' %}"></script>
        <script src="{% static 'js/test_panel.js' %}"></script>
        <script src="{% static 'js/right_panel.js' %}"></script>
        <script src="{% static 'js/add_map.js' %}"></script>
        <script src="{% static 'js/show_units.js' %}"></script>
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/next_unit.js' %}"></script>
        <script src="{% static 'js/csrf.js' %}"></script>
        <script src="{% static 'js/ws4redis.js' %}"></script>
        <script src="{% static 'js/ws_updated.js' %}"></script>
        <script src="{% static 'js/show_battles.js' %}"></script>
	</head>
	<body>
		{% if error_message %}
			<p> {{error_message }} </p>
		{% endif %}  
		
		<p> wtf? {{username}} </p><br>
		<a href="{% url 'login:logout' %}"> logout </a><br>
		
		
		<!-- <p>This is a test.</p> -->
	</body>
</html>